@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
  font-family: Verdana;
}

.view-link a,
.view-link a:hover,
.view-link a:visited {
  color: inherit;
  text-decoration: none;
}

.default-cursor {
  cursor: default;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.page-wrapper {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 208px auto;
  grid-template-rows: 54.4px 64px auto;
  grid-template-areas: 
  "aside top-bar"
  "aside router"
  "aside content";
}

.page-wrapper__aside-menu {
  grid-area: aside;
  display: grid;
  grid-template-rows: 118.4px auto 54.4px 64px;
  border-right: 1px solid #D2D4D3;  
}

.aside-menu__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-menu__logo {
  margin-right: 18px;
}

.aside-menu__text-logo {
  position: relative;
  padding-left: 18px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  line-height: 24px;
  color: #5F6062;
}

.aside-menu__text-logo::before {
  content: "";

  position: absolute;
  left: 0;
  top: 5%;
  height: 90%;
  border-left: 1px solid #A3A5A4;
}

.aside-menu__settings,
.aside-menu__hide-button {
  display: flex;
  align-items: center;
  padding: 0 20.4px;
}

.aside-menu__settings {
  border-top: 1px solid #E7E9E8;
  font-size: 13px;
  color: #BABCBB;
}

.aside-menu__settings > span {
  margin-left: 6px;
}

.aside-menu__hide-button {
  border-top: 1px solid #E7E9E8;
}

.aside-menu__hide-button > span {
  margin-left: 14px;
  font-size: 13px;
}

.page-wrapper__top-bar {
  grid-area: top-bar;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 7.8% 0 17.6px;
}

.top-bar__user-name {
  /* margin-right: 22.4px; */
}

.page-wrapper__top-bar > img {
  position: absolute;
  right: calc(7% - 42px);
}

.page-wrapper__router {
  grid-area: router;

  background-color: #F4F6F5;

  border: 1px solid #D2D4D3;
  border-left: none;
  border-right: none;

  display: flex;
  align-items: center;
  padding: 0 33px;
}

.page-wrapper__home-route:hover {
  cursor: pointer;
  text-decoration: underline;
}

.router__current-page {
  color: #AEAFB1;
}

.page-wrapper__main-content {
  overflow-y: scroll;
  grid-area: content;
  background-color: #F4F6F5;
}

.main-content__wrapper {
  margin: 30.4px 7.4% 30.4px 30.4px;
}

/* MODAL */

.modal {
  opacity: 0;
  z-index: 999;

  background: rgba(0, 0, 0, 0.18);
  backdrop-filter: saturate(100%) blur(10px);

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;

  transition: all ease-in-out 0.14s;
}

.modal_opened {
  opacity: 1;
}

.modal__bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.modal__window {
  opacity: 0;

  padding: 28px 14px;
  background-color: #fff;
  border-radius: 8px;
  
  width: 85vw;
  max-width: 420px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);

  transition: ease-in-out 0.2s;
}

.modal__window_opened {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal__title {
  text-align: center;
  font-size: 18px;

}

.modal__btns-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}

.modal__first-btn, 
.modal__second-btn {
  border: none;
  border-radius: .25rem;
  min-width: 142px;
  line-height: 1.5;
  padding: .375rem .75rem;

  transition: background-color 0.2s ease-in-out;
}

.modal__first-btn {
  background-color: #f2f3f5;
  color: #909090;
}

.modal__first-btn:hover {
  background-color: #eee;
}

.modal__first-btn:active {
  background-color: #e7e7e7;
}

.modal__second-btn {
  color: #fff;
  background-color: #5bb85d;
  box-shadow: -1px -6px 9px 2px rgb(99 99 99 / 20%) inset;
}

.modal__second-btn:hover {
  background-color: #59a55a;
}

.modal__second-btn:active {
  background: #5ba05c;
}